.nice-select{
	width:100% !important;
}
.fa-2 {
    font-size: 2em;
}
.bharavahikal_h1{
	color: black;
}
.bharavahikal_h2{
	font-size: 13px;
    font-weight: 400;
}
.wingdings {
    font-family: Wingdings;
}
.col.col-md-3.form_label {
    text-align: right;
}
.section_gap {
    padding: 85px 0 !important;
}
 .hidden{display:none;}
